
#flex-wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#flex-title{
  margin-top: -20px;
  height: 30%;
  background: red;
}

#flex-carousel{
  display: flex;
  height:50%;
  background: blue;
}

img{
  flex: 1 1 auto;
  width: 100%;
}
