/* Contact form css */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

#contact-container {
  margin-top: 5em;
  text-align: left;
}

#required-field {
  width: 100%;
}

#contact-container-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button, input, button {
  position: relative;
  display: inline-block;
  background: none;
  line-height: 1.5em;
  padding: .75em 3em;
  border: none;
  font-family: Montserrat;
  color: #fff;
  text-decoration: none;
  background-color: #53a2bf;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  border-radius: 50px;
  text-transform: uppercase;
}

textarea {
  width: 100%;
  line-height: 2.25em;
  border-radius: 5px;
  border: none;
  -webkit-appearance: none;
  padding: 5px 10px;
}

label {
  font-family: Montserrat,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

body {
  font-family: Open Sans,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1c3040;
  background-image: url(../img/hero-2.png);
  z-index: 100;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  display: block;
}

@media (min-width: 1200px) {
  #contact-form {
    width: 66%;
    margin-left: 15%;
  }
}

/* Header css */

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-bottom: 2px solid #fff;
}

.nav-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo, .nav-item, .vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
}

.nav-item {
  padding: 0 15px;
  border: 0;
}

.logo {
  width: 158px;
  height: 40px;
  background: url(../img/logo-light.png);
  background-size: cover;
  margin: 15px;
}

h5 {
  font-family: Montserrat,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #1c3040;
}

header a, header a:hover {
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.nav-item a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Montserrat,serif;
}

@media (min-width: 641px) {
  .vertical-align-middle {
      float: right;
  }
}
