article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

h5 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.container-project {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 40px 40px;
}

.img-project {
  max-width: 100%;
  max-height: 100%;
  min-height: 350px;
  width: auto;
  height: auto;
  border-radius: 2.5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.26);
    object-fit: cover;
 }

#h1-project{
  text-align: center;
  font-size: 40px;
  color: #1C3040;
}

.rollover-blocks .grid {
  position: relative;
}
.rollover-blocks .no-roll {
  color: white;
  padding: 20px 30px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.rollover-blocks + .rollover-blocks {
  margin-top: 20px;
}
.rollover-blocks .roll-up {
  position: absolute;
  bottom: -50%;
  color: #1e4354;
  width:97.5%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
  text-align:center;
}

.rollover-blocks .roll-down {
  display:none;
  position: absolute;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.3) 0%, rgba(255, 255, 255, 0) 95%);
  background-image: -o-linear-gradient(rgba(0,0,0,0.3) 0%, rgba(255, 255, 255, 0) 95%);
  background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(255, 255, 255, 0) 95%);
  width:360px;
  border-radius: 3.5%;
  text-align:center;
  height:200px;
}

.rollover-blocks .roll-down p, .rollover-blocks .roll-down a {
  padding: 10px;
  margin-top: 0px;
  color: white;
  text-decoration: none;
}

.rollover-blocks .roll-up p, .rollover-blocks .roll-up a {
  display: block;
  padding: 10px;
  background: white;
  margin-bottom: 0px;
  text-align: center;
}

.rollover-blocks .roll-up a {
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
  color: white;
}
.rollover-blocks > div {
  overflow: hidden;
  position: relative;
}
.rollover-blocks > div.highlight:before {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rollover-blocks > div:hover > .roll-up, .rollover-blocks > div:focus > .roll-up {
  bottom: 0;
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rollover-blocks > div:hover:before, .rollover-blocks > div:focus:before {
  bottom: 150px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.row {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
}

.grid {
  float: left;
  overflow: auto;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 1px;
  margin: 10px auto;
}

.one-third {
  width:33%;
  max-width: 360px;
  min-width: 360px;
}

.sakthi{
  height: 100%;
  width: 100%;
}

#portfolio{
  background-image:none;
}


.grid.one-third.highlight {
  padding: 0 10px 10px 0;
  margin: 0 1% 1% 0;
  height: 360px;
  width: 360px;
}

.rollover-blocks {
  padding: 0 10px 10px 0;
}

.grid.one-third.highlight > a {
  font-family: Montserrat,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  margin-left: 33%;
  height: 66%;
}

h3 {
  font-family: Open Sans,sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  color: #4C5C68;
}

h5.project-header{
  font-family: Montserrat,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #4C5C68;
  margin:0px;
}

p,a {
  font-family: Montserrat,serif;
  margin:0px;
}

@media (max-width:640px){
  h5{
    font-size:16px;
    line-height:24px;
  }

/* Footer css */

.footer {
  background-color: #3d525c;
  margin-top: 45em;
}

@media (max-width: 1154px) {
  .footer {
    margin-top: 68em; 
  }
}

@media (max-width: 765px) {
  .footer {
    margin-top: 116.5em;
  }
}

.footer .footer-content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em
}

.footer .footer-content:after {
    content: " ";
    display: block;
    clear: both
}

.footer .scroll {
    border: 0
}

.footer .logo,
.footer a {
  opacity: .5
}

.nav-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto
}

.nav-wrapper:after {
  content: " ";
  display: block;
  clear: both
}

.nav-item {
  padding: 0 15px;
  border: 0
}

.nav-item a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-bottom: 2px solid #fff
}

