/* The CSS selectors are in roughly alphabetical order. */

a.navbar-brand{
 color: green !important;
}

/* This is for the hover on the social icon hover. */
.btn-social-icon>:first-child:hover {

}

body {
/*  background-color: #002532;
*/
  background-color: #00526D
}

/* Affects the div containing the h3 tag for captions */
.carousel-caption {
  position: absolute;
  top: 33%;
}

#contact-buttons {
  position: relative;
  top: -1%;
}

#contact-blurb {
  font-family: 'lato', serif;
  color: white;
}

#contact-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-menu {
  background: #002532;
}


.dropdown-menu > li> a {
  background: #002532;
  color: green;
}

.dropdown-menu > li > a:hover {
  background: violet;
  color: white;
}

.flex-content{
  display: flex;
  flex-direction: row;
  height: 15%;
  /* uncomment below if you want to see the borders around the flex divs. */
/*  border: 1px solid white;
*/}

#flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#flex-title > svg {
  margin-top: -20px;
  height: 15%;
  background: #024E67;
}

#flex-carousel {
  display: flex;
  height: 60%;
}

.footer-lists {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  min-width: 200px;
}

@font-face {
  font-family: 'Prociono';
  src: url(../lib/Prociono/Prociono-Regular.otf) format("opentype");
}


h4 {
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.313em;
  line-height: 30px;
  font-weight: 800;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
#home-nav {
  background: linear-gradient(#01394B, #002532);
  font-size: 20px;
  color: blue;
  font-family: 'lato', serif;
}

img {
  flex: 1 1 auto;
  width: 100%;
}

.item > img.rayna {
  height:100%;
}

#main-footer {
  width: 100%;
/*  background-color: #002532;
*/  
  background-color: #00526D;
  color: #fff;
  padding: 5%;
}

nav.navbar.navbar-default  {
  margin: 0;
  border: none;
  margin: 0px;
}

.navbar-default .navbar-nav > li > a {
  background: linear-gradient(#01394B, #002532);
  color: green;
  font-size: 17px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: orangered;
  text: green;
}

.navbar-default .navbar-nav > li > a:focus {
  color: violet;
}

/* This selector is for the navbar open / hover / focus in the navbar */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background: linear-gradient(#01394B, #002632);
  color: violet;
}

#partners {
  max-width: 68em;
  /*width: 100%;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*background-color: #003D51 */
}

#partners > h4 {
  margin-left: 12.5%;
}

#partners > h5 {
  margin-left: 12.5%;
  float: left;
  margin-right: 2.35765%;
  width: 60%;
  min-width: 200px;
  color: #fff;
}

#partners-section {
  background-color: #003D51;
}

.row {
  height: 40%;
}

.row > .col-md-4.separator {
  height: 100%;
/*  border: 1px solid white;
*/}
