@font-face {
  font-family: 'Prociono';
  src: url(../lib/Prociono/Prociono-Regular.otf) format("opentype");
}

body {
  background-color: #002532;
}

a.navbar-brand{
 color: green !important;
}

#home-nav {
  background: linear-gradient(#01394B, #002532);
  font-size: 20px;
  color: blue;
  font-family: 'lato', serif;
}


#flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-content{
  display: flex;
  flex-direction: row;
  height: 15%;
  border: 1px solid white;
}


nav.navbar.navbar-default  {
  margin: 0;
  border: none;
  margin: 0px;
}

.navbar-default .navbar-nav > li > a {
  background: linear-gradient(#01394B, #002532);
  color: green;
  font-size: 17px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: orangered;
  text: green;
}

.navbar-default .navbar-nav > li > a:focus {
  color: violet;
}

#flex-title > svg {
  margin-top: -20px;
  height: 15%;
  background: #024E67;
}

#flex-carousel {
  display: flex;
  height: 60%;
  background: blue;
}

img {
  flex: 1 1 auto;
  width: 100%;
}

.item > img.rayna {
  height:100%;
}

.dropdown-menu {
  background: #002532;
}


.dropdown-menu > li> a {
  background: #002532;
  color: green;
}

.dropdown-menu > li > a:hover {
  background: violet;
  color: white;
}

.carousel-caption {
  position: absolute;
  top: 33%;
/* Affects the div containing the h3 tag for captions */

}

.row {
  height: 40%;
}

.row > .col-md-4.separator {
  height: 100%;
  border: 1px solid white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background: linear-gradient(#01394B, #002632);
  color: violet;
}

#contact{
  position: absolute;
  bottom: -45px;
  right: 10px;
}

.container-project {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 40px 40px;
}

.img-project {
  max-width: 100%;
  width: auto;
  height: auto;
}

.h1-project {
  text-align: center;
  font-size: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #74c0ca;
}

.read-more:after {
  content: " >>";
}

.rollover-blocks .grid {
  position: relative;
}
.rollover-blocks .no-roll {
  color: white;
  padding: 20px 30px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.rollover-blocks + .rollover-blocks {
  margin-top: 20px;
}
.rollover-blocks .roll-up {
  position: absolute;
  bottom: -50%;
  color: white;
  padding: 0 10px 0 0;
  width:350px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rollover-blocks .roll-up p, .rollover-blocks .roll-up a {
  display: block;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
}
.rollover-blocks .roll-up a {
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
  color: white;
}
.rollover-blocks > div {
  overflow: hidden;
  position: relative;
}
.rollover-blocks > div.highlight:before {
  position: absolute;
  left: 20px;
  bottom: 20px;
  content: "Catchy Text";
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rollover-blocks > div:hover > .roll-up, .rollover-blocks > div:focus > .roll-up {
  bottom: 0;
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rollover-blocks > div:hover:before, .rollover-blocks > div:focus:before {
  bottom: 150px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.row {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
}

.grid {
  float: left;
  overflow: auto;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 1px;
  margin: 10px auto;
}

.one-third {
  min-width: 240px;
}
