@font-face {
  font-family: 'Prociono';
  src: url(../lib/Prociono/Prociono-Regular.otf) format("opentype");
}

body {
  background-color: #024E67;
}

#home-nav {
  background: linear-gradient(#01394B, #024E67);
  font-size: 20px;
  color: blue;
  font-family: 'lato', serif;
}


#flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav.navbar.navbar-default  {
  margin: 0;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  background: linear-gradient(#01394B, #024E67);
  color: white;
  text-shadow: 2px 2px black;
}

.navbar-default .navbar-nav > li > a:hover {
  color: orangered;
  text: white;
}

.navbar-default .navbar-nav > li > a:focus {
  color: violet;
}

#flex-title > svg {
  margin-top: -20px;
  height: 15%;
  background: #024E67;
}

#flex-carousel {
  display: flex;
  height: 60%;
  background: blue;
}

img {
  flex: 1 1 auto;
  width: 100%;
}

.item > img.rayna {
  height:100%;
}

.dropdown-menu {
  background: #024E67;
}

.dropdown-menu > li> a {
  background: #024E67;
  color: white;
}

.dropdown-menu > li > a:hover {
  background: violet;
  color: white;
}

.carousel-caption {
  position: absolute;
  top: 33%;
/* Affects the div containing the h3 tag for captions */

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background: linear-gradient(#01394B, #024E67);
  color: violet;
}
