body {
  background-color: #002532;
}

.flex-team{
  display: flex;
  direction: column;
  width: 100%;
}

.flex-column{
  max-width: 50%;
  border: 1px solid black;
}

.personempty{
  height:100px;
}

#team-jumbotron {
  display: flex;
  min-height: 60%;
  max-height: 60%;
  background-image: url("../img/sakthi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#h1-team{
  text-align: center;
  font-size: 40px;
  top: 5%;
  right:80%;
  margin-left: -200px;
}

.personimage{
  height: 250px;
  width: 250px;
}

img{
  height: inherit;
  width: inherit;
}
