body {
  background-color: #002532;
}

.flex-team{
  display: flex;
  direction: column;
  width: 100%;
}

.flex-column{
  max-width: 50%;
  border: 1px solid black;
}

.personempty{
  height:100px;
}



#h1-team {
  text-align: center;
  font-size: 40px;
  top: 5%;
  right:80%;
  margin-left: 20px;
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
}

p {
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.05em;
  line-height: 30px;
  font-weight: 800;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.personimage{
  height: 250px;
  width: 250px;
}

img{
  height: inherit;
  width: inherit;
}


/* Hover effect */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect td {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 12px;
  padding: 10px;
/*  background: rgba(0, 0, 0, 0.6);
*/}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#team-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.team-member { 
  width: 150px; 
  height: 150px; 
  position: absolute;
  background: #000;
  border-radius: 50%; 
}

.team-member:hover > .img-circle {
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

/* Pulse animation */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(33, 150, 243, 0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(33, 150, 243, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(33, 150, 243, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(33, 150, 243, 0.5);
    box-shadow: 0 0 0 0 rgba(33, 150, 243, 0.5);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(33, 150, 243, 0);
      box-shadow: 0 0 0 10px rgba(33, 150, 243, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(33, 150, 243, 0);
      box-shadow: 0 0 0 0 rgba(33, 150, 243, 0);
  }
}

#member-information {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  /* TODO: change this to something more pleasing */
  background-color: bisque;
  opacity: 0.8;
}

.team-member-flip {
  transform:rotateY(180deg) scale(1.2,1.2);
  -webkit-transform:rotateY(180deg) scale(1.2,1.2);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  z-index: 100;
}
