body {
  background-color: #002532;
}

.flex-team{
  display: flex;
  direction: column;
  width: 100%;
}

.flex-column{
  max-width: 50%;
  border: 1px solid black;
}

.personempty{
  height:100px;
}



#h1-team {
  text-align: center;
  font-size: 40px;
  top: 5%;
  right:80%;
  margin-left: 20px;
}

.personimage{
  position: relative;
  height: 250px;
  width: 250px;
}

.personimage > .links {
  display: none;
  text-align: center;
}

.personimage > .links > .social-icons {
  position: absolute;
  top: 40%;
  left: 33%;
}

.personimage:hover > .links {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

img{
  height: inherit;
  width: inherit;
}
